<div class="box sidebar wrapper u-p_r--2 u-bg--lg sidebar-main">
    <div class="box sidebar">
        <div style="text-align:right; padding-top: 1rem"><a href="{{ home_url }}" title="Return to home"><img src="http://polet500.it/assets/img/favicon.png" style="height:36px; width:36px"></a></div>
    </div>
                
    <div class="box content">
        <h1 class="h1 uppercase u-t_sans">{{ site.title }}</h1>
        <br>
        <p class="display"><strong>{{ site.metadata.description }}. </strong></p>
        <p class="display">{{ site.metadata.headline }}.</p>
        <br><br><br>
        
        <ul class="menu">
            <h2 class="h2 uppercase u-t_sans">Navigazione</h2>
            <li class="u-t_sans">Home</li>
            <li class="u-t_sans">Indice degli argomenti</li>
            <li class="u-t_sans">Indice dei personaggi</li>
        </ul>
            <br><br>

        <ul class="menu">
            <h2 class="h2 uppercase u-t_sans">Il progetto</h2>
            <li class="u-t_sans">Contatti</li>
            <li class="u-t_sans">Collaboratori</li>
            <li class="u-t_sans">Comitato di lettura</li>
            <li class="u-t_sans">Bibliografia</li>
            <li class="u-t_sans">Partner</li>
        </ul>
    </div>                 
</div>