
{% embed 'default.html.twig' %}
	{% block mainContent %}
		{% set new_base_url = site.blog.route== '/' ? '' : blog.url %}


{% if config.plugins.taxonomylist.enabled %}
	<h1 class="h1 u-t-sans">{{ page.title }}</h1>
    <p class="u-t-sans display">{{ page.content }}</p>
    {%  include 'partials/taxonomylist.html.twig' with {'base_url':new_base_url, 'taxonomy':'char' } %}
{% endif %}

{% endblock %}
{% endembed %}



