{% extends 'partials/base.html.twig' %}

{% block content %}

	<div class="wrapper main">
		
		{% include "partials/nav-main.html.twig" %}

    	<div class="box content">
		<br>
		{% block mainContent %}
		<div class="card-item display">
		{{ page.content }}
		<div>
		{% endblock %}
		</div>
	</div>
	{% include "partials/footer.html.twig" %}
	<footer class="box"><p>Footer</p></footer>	
{% endblock %}
